<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1><u><i>
   {{ title }}.
  </i>
</u>
  </h1>
</div>
<div class="topnav">
    <button class="bull"><strong><a id="bull" class="active" href="https://Github.com/tutorial">GITHUB</a></strong></button>
    <button class="bull"><strong><a id="bull" href="https://Thestar.com">NEWS</a></strong></button>
    <button class="bull"><strong><a  id="bull" href="https://peterkangogo501@gmail.com/">CONTACT US.</a></strong></button>

    <input type="text" placeholder="Search-engine" [routerLink]="['/details']" routerLinkActive="router-link-active" >

</div>
<br>
<button  id="btn" type="submit"><i class="fa fa-search" [routerLink]="['/url']" routerLinkActive="router-link-active" ><u>SEARCH</u></i></button>
<router-outlet></router-outlet>
<app-github-details></app-github-details>
