<p id="pen">

<u>  SOME OF MY GITHUB {{catolog}}</u> :~

</p>

                            <br>
                    <br>
              <br>

<div class="container">

  <div class="panel panel-info">

  <div class="row">

    <div class="col-md-6">

       <div class="panel panel-danger">

          <div class="l">

      <a  href="https://github.com/kangogopeter/cab" alt="HTML">cab.</a>

  </div>

      <p>An HTML website page.</p>

      <div class="progress">

            <div class="progess-bar" id="pap" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:20%"><i>20%</i>

            </div>

      </div>

      </div>

</div>


<br>
<br>

        <div class="col-md-6">

            <div class="l">

          <a href="https://github.com/kangogopeter/triangle" alt="Triangle">Triangle tracker.</a>

          </div>

          <p>tracking whether it's a triangle
          and of what type of triangle.</p>

          <div class="progress">

                <div class="progess-bar" id="pep" role="progressbar" arial-valuenow="35" arial-valuemin="0" arial-valuemax="100" style="width:35%"><i>35%</i>
                </div>

          </div>

    </div>

    </div>

           </div>

  </div>

<br>
<br>

  <div class="container">

    <div class="panel panel-info">

    <div class="row">

      <div class="col-md-6">

          <div class="l">

        <a href="https://github.com/kangogopeter/star" alt="HTML">Star.</a>

               </div>

        <p>an HTML website page.</p>

        <div class="progress">

            <div class="progess-bar" id="pip" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:45%"><i>45%</i>

            </div>

      </div>

  </div>

  <br>
  <br>

      <div class="col-md-6">

          <div class="l">

            <a href="https://github.com/kangogopeter/quizboard" alt="HTML">Quizboard.</a>

                    </div>

            <p>A website that is displaying some questions which
             will be display some results and score for your inputs.</p>

            <div class="progress">

                  <div class="progess-bar" id="pup" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:55%"><i>55%</i>

                  </div>

            </div>

      </div>

      </div>

             </div>

    </div>

    <!--group-->
    <br>
    <br>

    <div class="container">

         <div class="panel panel-info">

      <div class="row">

    <div class="col-md-6">

        <div class="l">

          <a href="https://github.com/kangogopeter/PIG_DICE" alt="HTML">Pig_Dice Game.</a>

                          </div>
          <p>A dice game which you click the roll button to roll
          and for then hold for the other player to also roll.</p>

          <div class="progress">

            <div class="progess-bar" id="pcp" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:62%"><i>62%</i>

            </div>

      </div>

    </div>

<br>
<br>

        <div class="col-md-6">

            <div class="l">
              <a href="https://github.com/kangogopeter/to-do-list-cards" alt="Typescript">To-do-list-cards.</a>

                          </div>

              <p>Things to do on a daily basis.</p>

              <div class="progress">

                  <div class="progess-bar" id="pkp" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:75%"><i>75%</i>

                  </div>

            </div>

        </div>

        </div>

               </div>

      </div>

          <!--group-->
<br>
<br>

      <div class="container">

             <div class="panel panel-info">

        <div class="row">

      <div class="col-md-12">

          <div class="l">

            <a href="https://github.com/kangogopeter/Quotes" alt="Typescript">Quotes.</a>

          </div>

            <p>Place your quotes to be displayed.</p>

            <div class="progress">

                  <div class="progess-bar" id="pop" role="progressbar" arial-valuemin="0" arial-valuemax="100" style="width:80%;"><i>80%</i>

                  </div>

            </div>

      </div>

    </div>

              </div>

        </div>


